<div>
    <div class="container" style="margin-left: 600px; margin-top: 20px;">
        <input class="input" type="text" placeholder="Search cottages!" />
    </div>
    <div class="container" style="margin-left: 660px; margin-top: 10px;">
        <button class="btn">Search</button>
    </div>




    <div class="card-holder" style="margin-left: 15px;">
        <div class="row">
            <div class="card" style="margin: 10px; " *ngFor="let cottage of cottages">

                <img :src="assets/images/cottage.jpg" class="card-img-top" sty alt="image of cottage">


                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>{{cottage.name}}</strong>
                    </li>
                    <li style="height: 70px;" class="list-group-item">
                        {{this.cottage.streetName}},{{this.cottage.streetNumber}},{{this.cottage.city}},{{this.cottage.country}}
                    </li>
                    <li style="height: 70px;" class="list-group-item">{{cottage.description}}</li>
                    <li class="list-group-item">
                        <button class="btn btn-primary" (click)="view(cottage.id)">View</button>
                        <button class="btn btn-primary" (click)="delete(cottage.id)">Delete</button>

                    </li>
                </ul>

            </div>
        </div>


    </div>