<div class="content is-medium">

    <hr />
    <div>
      <table class="table">
        <thead>
          <tr>
            <th><abbr title="Cottage name">Cottage name</abbr></th>
            <th><abbr title="Address">Address</abbr></th>
            <th><abbr title="Price">Price</abbr></th>
            <th><abbr title="Description">Description</abbr></th>
            <th><abbr title="Number of people">Number of people</abbr></th>
           
           
            
          </tr>
        </thead>
        
            <tbody>
                <tr *ngFor="let cottage of cottages">
                    <td>{{cottage.name}}</td>
                    <td>{{cottage.address}}</td>
                    <td>{{cottage.price}}</td>
                    <td>{{cottage.description}}</td>
                    <td>{{cottage.numberOfPeople}}</td>
                 
                                 
            </tbody>
            <hr />
        
      </table>
    </div>
  </div>