table {
  width: 100%;
}

th {
  width: 100px;
  color: rgb(1, 1, 114);
  font-size: 15px;
  font-style: bold;
 
}

tr {
  font-style: italic;
  height: 20px;
}
table {
  align-self: center;
}


button {
  width: 70;
}

mat-card {
  align-self: center;
  align-items: center;
  align-content: center;
  width: 500px;
  text-size-adjust: 10px;
  font-size: 10px;
  font-style: italic;
}