<mat-toolbar color="primary">
    <mat-toolbar-row>

        <img src="../../assets/images/logo.png" style="height: 32px" />
        <h1>A D V E N T U R E</h1>
        <span class="menu-spacer"></span>
        <div>

            <a mat-button class="nav-link" routerLinkActive="active" [routerLink]="['/allCottages']"> Cottages </a>
            <a mat-button class="nav-link" routerLinkActive="active"> Ships </a>
            <a mat-button class="nav-link" routerLinkActive="active"> Adventures </a>
            <a mat-button class="nav-link" routerLinkActive="active" [routerLink]="['/login']"> Login </a>
            <a mat-button class="nav-link" routerLinkActive="active" [routerLink]="['/registration']"> Registration</a>



        </div>
    </mat-toolbar-row>
</mat-toolbar>