<mat-card>
    <mat-card-title>Basic info about adventure</mat-card-title>
    <mat-card-content>
  <form class="form-container" [formGroup]="detailsForm">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="standard">
          <mat-label>Name of adventure</mat-label>
          <input matInput placeholder="Name of adventure" formControlName="name"  [readonly]="!editMode" />
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="standard">
          <mat-label>Price in euro</mat-label>
          <input matInput placeholder="Price in euro" formControlName="price" [readonly]="!editMode"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="standard">
          <mat-label>Street name</mat-label>
          <input matInput placeholder="Street name" formControlName="streetName" [readonly]="!editMode"/>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="standard">
          <mat-label>Street number</mat-label>
          <input matInput placeholder="Street number" formControlName="streetNumber" [readonly]="!editMode"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="standard">
          <mat-label>City</mat-label>
          <input matInput placeholder="City" formControlName="city" [readonly]="!editMode"/>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="standard">
          <mat-label>Country</mat-label>
          <input matInput placeholder="Country" formControlName="country" [readonly]="!editMode" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
        <div class="col-sm">
          <mat-form-field appearance="standard">
            <mat-label>Guest limit</mat-label>
            <input matInput placeholder="Guest limit" formControlName="guestLimit" [readonly]="!editMode"/>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field appearance="standard">
            <mat-label>The percentage of the price that is retained</mat-label>
            <input matInput placeholder="The percentage of the price that is retained" formControlName="cancellationConditions" [readonly]="!editMode" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field appearance="standard">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description" formControlName="description" [readonly]="!editMode"> </textarea>
          </mat-form-field>
        </div>
        <div class="col-sm">
          <mat-form-field appearance="standard">
            <mat-label>Instructors biography</mat-label>
            <textarea matInput placeholder="Instructors biography" formControlName="biography" readonly> </textarea>
          </mat-form-field>
        </div>
        </div>
    <div class="button-container" *ngIf ="!editMode else editIsOn">
    <button mat-flat-button color="primary"  class="button" (click)="editMode = true">Edit</button>
  </div>
  <ng-template #editIsOn>
    <div class="button-container" *ngIf="editMode">
      <button mat-flat-button color="primary" class="button" (click)="edit()">Save</button>
      <button mat-flat-button color="warn"  class="button" (click)="cancel()">Cancel</button>
    </div>
  </ng-template>
  </form>
    </mat-card-content>
    </mat-card>
