<div class="inner">
    <form class="form" [formGroup]="form">


        <div>
            <label>Start date:</label>
            <mat-form-field appearance="fill" style="width: 90%;">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="resStart">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <label>End date:</label>
            <mat-form-field appearance="fill" style="width: 90%;">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker1" formControlName="resEnd">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>


        <div>
            <label>Number of person:</label>
            <mat-form-field appearance="fill" style="width: 90%;">
                <mat-label>Add number of person</mat-label>
                <input matInput type="number" min="1" max="{{this.ship.capacity}" placeholder="Number of person"
                    formControlName="numberOfPerson" />
            </mat-form-field>
        </div>
        <div>
            <label>Price for reservation:</label>
            {{fullPrice}} €
            <button mat-raised-button style="margin-left: 10px;" (click)="total()">Calculate</button>
        </div>

    </form>





    <form>


        <table class="table" style=" margin-top: 23px;margin-left:30px;">

            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Select</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let utility of utilities">
                    <td>{{utility.name}}</td>
                    <td>{{utility.price}}</td>
                    <td>

                        <input type="checkbox" id="customCheck1">

                    </td>
                </tr>

            </tbody>
        </table>

        <div class="button-container">
            <button mat-flat-button color="primary" (click)="reserved()"
                style="margin-left: 120px;width: 100px;margin-top: 130px;">Add</button>
        </div>

    </form>





</div>