<div class="container">
    <h2 mat-dialog-title>Add reservation for cottage</h2>

    <form class="form" [formGroup]="form">
        <mat-form-field appearance="standard">
            <mat-label>Client</mat-label>
            <mat-select>
                <mat-option *ngFor="let user of users" [value]="newReservation.clientEmail">
                    {{user.email}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Start date</mat-label>
            <input matInput type="date" placeholder="Start date" formControlName="resStart" />
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>End date</mat-label>
            <input matInput type="date" placeholder="End date" formControlName="resEnd" />
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Number of person</mat-label>
            <input matInput type="number" min="1" max="{{this.cottage.numberOfPeople}}" placeholder="Number of person"
                formControlName="numberOfPerson" />
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Total price</mat-label>
            <input matInput>{{fullPrice}}
            <button mat-raised-button style="margin-left: 10px;" click="calcPrice()">Calculate</button>
        </mat-form-field>


    </form>
    <div class="button-container">
        <button mat-flat-button color="primary" (click)="reserved()">Add</button>
        <button mat-flat-button color="warn" (click)="onNoClick()">Close</button>
    </div>
</div>