
<div class="container">
    <br/><br/>
<mat-tab-group>
        <mat-tab label="Basic info">
           <app-adventure-basic-info></app-adventure-basic-info>
        </mat-tab>
    <mat-tab label="Previous adventures"> 
      <app-adventure-images></app-adventure-images>
    </mat-tab>
    <mat-tab label="Rules"> 
      <app-adventure-rules></app-adventure-rules>
    </mat-tab>
    <mat-tab label="Utilities">
      <app-adventure-utilities></app-adventure-utilities>
    </mat-tab>
    <mat-tab label="Fishing equipment">
      <app-adventure-fishing-equipments></app-adventure-fishing-equipments>
    </mat-tab>
    <mat-tab label="Availability"> Content 3 </mat-tab>
    <mat-tab label="Add reservation"> Content 3 </mat-tab>
    <mat-tab label="Reservation history"> Content 3 </mat-tab>
   
  </mat-tab-group>
  </div>
