
<div class="container">
    <br/><br/>
<mat-tab-group>
        <mat-tab label="Basic info">
            <mat-card>
                <mat-card-title>Basic info about adventure</mat-card-title>
                <mat-card-content>
              <form class="form-container" [formGroup]="detailsForm">
                <div class="row">
                  <div class="col-sm">
                    <mat-form-field appearance="standard">
                      <mat-label>Name of adventure</mat-label>
                      <input matInput placeholder="Name of adventure" formControlName="name"  [readonly]="!editMode" />
                    </mat-form-field>
                  </div>
                  <div class="col-sm">
                    <mat-form-field appearance="standard">
                      <mat-label>Price in euro</mat-label>
                      <input matInput placeholder="Price in euro" formControlName="price" [readonly]="!editMode"/>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm">
                    <mat-form-field appearance="standard">
                      <mat-label>Street name</mat-label>
                      <input matInput placeholder="Street name" formControlName="streetName" [readonly]="!editMode"/>
                    </mat-form-field>
                  </div>
                  <div class="col-sm">
                    <mat-form-field appearance="standard">
                      <mat-label>Street number</mat-label>
                      <input matInput placeholder="Street number" formControlName="streetNumber" [readonly]="!editMode"/>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm">
                    <mat-form-field appearance="standard">
                      <mat-label>City</mat-label>
                      <input matInput placeholder="City" formControlName="city" [readonly]="!editMode"/>
                    </mat-form-field>
                  </div>
                  <div class="col-sm">
                    <mat-form-field appearance="standard">
                      <mat-label>Country</mat-label>
                      <input matInput placeholder="Country" formControlName="country" [readonly]="!editMode" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                      <mat-form-field appearance="standard">
                        <mat-label>Guest limit</mat-label>
                        <input matInput placeholder="Guest limit" formControlName="guestLimit" [readonly]="!editMode"/>
                      </mat-form-field>
                    </div>
                    <div class="col-sm">
                      <mat-form-field appearance="standard">
                        <mat-label>The percentage of the price that is retained</mat-label>
                        <input matInput placeholder="The percentage of the price that is retained" formControlName="cancellationConditions" [readonly]="!editMode" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm">
                      <mat-form-field appearance="standard">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Description" formControlName="description" [readonly]="!editMode"> </textarea>
                      </mat-form-field>
                    </div>
                    <div class="col-sm">
                      <mat-form-field appearance="standard">
                        <mat-label>Instructors biography</mat-label>
                        <textarea matInput placeholder="Instructors biography" formControlName="biography" readonly> </textarea>
                      </mat-form-field>
                    </div>
                    </div>
                <div class="button-container" *ngIf ="!editMode else editIsOn">
                <button mat-flat-button color="primary"  class="button" (click)="editMode = true">Edit</button>
              </div>
              <ng-template #editIsOn>
                <div class="button-container" *ngIf="editMode">
                  <button mat-flat-button color="primary" class="button" (click)="edit()">Save</button>
                  <button mat-flat-button color="warn"  class="button" (click)="cancel()">Cancel</button>
                </div>
              </ng-template>
              </form>
                </mat-card-content>
                </mat-card>
        </mat-tab>
    <mat-tab label="Previous adventures"> 
          <div>
            <mat-carousel 
              timings="250ms ease-in"
              color="primary"
              maxWidth="auto"
              maxHeight="auto"    
              [loop]="true"
              [hideArrows]="false"
              [hideIndicators]="true"
              [useKeyboard]="true"
              [useMouseWheel]="false"
              orientation="ltr"
            >
              <mat-carousel-slide style="height: 600px !important;"
                #matCarouselSlide
                *ngFor="let image of images; let i = index"
              >
              <img [src]="image.url" style="height: 400px; width: 1150px;"/>
              </mat-carousel-slide>
            </mat-carousel>
          </div>
          <div style="align-items: center;">
            <br />
            <input
              style="margin-top: 20px; color:primary;"
              type="file"
              #file
              (change)="onFileSelected($event)"
            />
          </div>
          
    </mat-tab>
    <mat-tab label="Rules"> 
      <div class="container" style="margin-top:20px">
        <div class="container">
            <div class="container">
                <h1 style="text-align: center;">Rules of adventure</h1>
                <hr />
                <mat-list role="list">
                  <mat-list-item *ngFor="let rule of rules" role="listitem">{{ rule.description}} <button style="margin-left : 830px" mat-flat-button color="warn"
                    (click)="deleteRule(rule.id)">Delete</button></mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:20px">
                 
                  <form class="form" [formGroup]="ruleDescriptionForm">
                    <mat-form-field appearance="standard">
                      <input matInput placeholder="Enter new rule" formControlName="description"/>
                    </mat-form-field>
                  </form> 
                  <div class="container">
                    <button mat-flat-button color="primary" (click)="addRule()">Add</button>
                  </div> 
    </div>
    <br /><br /><br />
       </mat-tab>
    <mat-tab label="Utilities">
      <table *ngIf="utilities.data.length != 0; else emptyTable"
                mat-table
                [dataSource]="utilities"
                class="mat-elevation-z8"
              >
                
                <ng-container matColumnDef="Name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let element; let i = index">
                    {{ element.name}}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Price">
                  <th mat-header-cell *matHeaderCellDef>Price</th>
                  <td mat-cell *matCellDef="let element; let i = index">
                   {{element.price}}
                  </td>
                </ng-container>
                  <ng-container matColumnDef="Buttons">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element; let i = index">
                      <button mat-raised-button color="primary" style="width: 80px; " >Edit</button>
                      <button mat-raised-button color="warn" style="width: 80px;">Delete   </button>
                    </td>
                   
                  </ng-container>
                <tr
                  mat-header-row
                  *matHeaderRowDef="columnsToDisplayUtilities"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="
                    let element;
                    columns: columnsToDisplayUtilities
                  "
                ></tr>
              </table>
              <ng-template #emptyTable>
                <br><br><br><br>
                <div class="d-flex justify-content-center ">
                <mat-card style="background-color: transparent;">No utilities.</mat-card>
                </div>
              </ng-template>

    </mat-tab>
    <mat-tab label="Fishing equipment">
      <div class="container" style="margin-top:20px">
        <div class="container">
            <div class="container">
                <h1 style="text-align: center;">Fishing equipments</h1>
                <hr />
                <mat-list role="list">
                  <mat-list-item *ngFor="let equipment of equipments" role="listitem">
                    {{ equipment.fishingEquipmentName}} 
                    <button style="margin-left : 830px" mat-flat-button color="warn"
                    (click)="deleteFishingEquipment(equipment.id)">Delete</button></mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:20px">
                 
                  <form class="form" [formGroup]="fishingEquipmentForm">
                    <mat-form-field appearance="standard">
                      <input matInput placeholder="Enter new fishing equipment" formControlName="name"/>
                    </mat-form-field>
                  </form> 
                  <div class="container">
                    <button mat-flat-button color="primary" (click)="addFishingEquipment()">Add</button>
                  </div> 
    </div>
    <br /><br /><br />
    </mat-tab>
    <mat-tab label="Availability"> Content 3 </mat-tab>
    <mat-tab label="Add reservation"> Content 3 </mat-tab>
    <mat-tab label="Reservation history"> Content 3 </mat-tab>
   
  </mat-tab-group>
  </div>
