<div class="container" style="margin-top:20px">
    <div class="container">
        <div class="containter">

            <h1>Navigation equipment of ship</h1>
            <hr />
            <div *ngFor="let navigation of navigations" class="containter">
                <h3> {{ navigation.name}} <button style="margin-left:900px;width: 100px;" mat-flat-button color="warn"
                        (click)="deleteNavigation(navigation.id)">Delete</button>
                    <hr />
                </h3>

            </div>

        </div>
    </div>

</div>



<div class="container" style="text-align: center;margin-top: 20px;">
    <div class="containter">
        <div>
            <h1> Add navigation of ship</h1>
            <hr />
            <div>
                <input class="form-control" type="text" style="width: 400px;margin-left: 345px;"
                    placeholder="Enter your navigation" [(ngModel)]="navigationn.name" />
            </div>
        </div>

    </div>
    <div class="container">
        <div>
            <button mat-flat-button color="primary" style="width:150px;margin-top:20px"
                (click)="addNavigation()">Add</button>
        </div>
        <br /> <br />
    </div>
</div>