<div class="content is-medium">
    <h1 class="title">Add reservation for cottage {{cottage.name}}</h1>
    <hr />
    <div class="box p-6">


        <div class="container" style="margin-left: 197px;">
            <div class="container">
                <div class="field">
                    <label>Choose Client</label>

                    <select style="height:35px;width: 1077px;">
                        <option value="">Select client</option>
                        <option> </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top:30px">
        <div class="containter">
            <div class="container">

                <div class="field">
                    <label class="label">Start date</label>
                    <input class="form-control" type="date" placeholder="Enter startDate" [(ngModel)]="startDate" />
                    <label class="label">End date</label>
                    <input class="form-control" type="date" placeholder="Enter endDate" [(ngModel)]="endDate" />
                </div>
            </div>

        </div>
    </div>