<app-ship-owner-navbar (searchInput)="handleMe($event)"></app-ship-owner-navbar>


<div>
    <div class="card-holder" style="margin-left: 15px;margin-top: 50px;">
        <div class="row">
            <div class="card" style="margin: 10px; " *ngFor="let ship of ships | shipSearch : searchText ">
                <img :src="assets/Images/{{ship.name}}" class="card-img-top" sty alt="image of ship">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>{{ship.name}}</strong>
                    </li>
                    <li style="height: 70px;" class="list-group-item">
                        {{this.ship.streetName}},{{this.ship.streetNumber}},{{this.ship.city}},{{this.ship.country}}
                    </li>
                    <li style="height: 70px;" class="list-group-item">{{ship.description}},
                        <br /> length:
                        {{this.ship.length}},strength:{{this.ship.strengthOfEngine}},maxSpeed:{{this.ship.maxSpeed}}
                    </li>
                    <li style="height: 70px;" class="list-group-item">{{this.ship.price}} € per day for
                        {{this.ship.capacity}} people</li>

                    <li class="list-group-item">
                        <button class="btn btn-primary" (click)="view(ship.id)">View</button>
                        <button class="btn btn-primary" (click)="delete(ship.id)">Delete</button>

                    </li>
                </ul>

            </div>
        </div>


    </div>