<div class="container">
    <mat-card>
        <mat-card-title>Edit points for success reservation</mat-card-title>
        <br />
        <mat-card-content>
            <form class="form-container" [formGroup]="detailsForm">
                <div class="row">
                        <mat-form-field appearance="standard">
                            <mat-label>Client points</mat-label>
                            <input matInput placeholder="Client points" min="0" type="number" formControlName="client"  />
                        </mat-form-field>
                    </div>
                <div class="row">
                        <mat-form-field appearance="standard">
                            <mat-label>Owner points</mat-label>
                            <input matInput placeholder="Owner points"  type="number" formControlName="owner" />
                        </mat-form-field>
                </div>
                <div class="row">
                        <mat-form-field appearance="standard">
                            <mat-label>Discount for website</mat-label>
                            <input matInput placeholder="Discount for website" type="number" formControlName="discount"/>
                        </mat-form-field>
                </div>
                <div class="button-container">
                    <button mat-button color="warn" (click)="onNoClick()">Close</button>
                    <button mat-button color="primary" (click)="add()">OK</button>

                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>


