<mat-toolbar color="primary">
    <mat-toolbar-row>

      <img
        src="../../assets/images/logo.png"
        style="height: 32px"
    />
    <h1 >A D V E N T U R E</h1>
      <span class="menu-spacer"></span>
      <div>
      
        <a mat-button class="nav-link" [routerLink]="['/cottageOwner/profile']"> Your personal profile </a>
        <a mat-button class="nav-link" [routerLink]="['/cottageOwner']"> Cottages </a>
       
        
        <a mat-button class="nav-link"  [routerLink]="['/cottageOwner/add-cottage']"> Add new cottage </a>

      
        <a mat-button class="nav-link"  [routerLink]="['/cottages']">  Sign out</a>
        
  
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
