<div>
    <mat-carousel 
      timings="250ms ease-in"
      color="primary"
      maxWidth="auto"
      maxHeight="auto"    
      [loop]="true"
      [hideArrows]="false"
      [hideIndicators]="true"
      [useKeyboard]="true"
      [useMouseWheel]="false"
      orientation="ltr"
    >
      <mat-carousel-slide style="height: 600px !important;"
        #matCarouselSlide
        *ngFor="let image of images; let i = index"
      >
      <img [src]="image.url" style="height: 400px; width: 1150px;"/>
      </mat-carousel-slide>
    </mat-carousel>
  </div>
  <div style="align-items: center;">
    <br />
    <input
      style="margin-top: 20px; color:primary;"
      type="file"
      #file
      (change)="onFileSelected($event)"
    />
  </div>
