<mat-toolbar color="primary">
    <mat-toolbar-row>

      <img
        src="../../assets/images/logo.png"
        style="height: 32px"
    />
    <h1 >A D V E N T U R E</h1>
      <span class="menu-spacer"></span>
      <div>
        <button class="dropdown" mat-button [matMenuTriggerFor]="menu">Requests</button>
        <mat-menu #menu="matMenu">
          <a mat-button  class="nav-link" routerLinkActive="active" [routerLink]="['/admin']"> Registration requests </a>
          <a mat-button  class="nav-link" routerLinkActive="active" [routerLink]="['/admin/requests-for-deleting']"> Requests for deleting account </a>
        </mat-menu>
        <a mat-button class="nav-link"  [routerLink]="['/admin/reports']"> Reports </a>
        <a mat-button class="nav-link"  [routerLink]="['/admin/reviews']"> Reviews </a>
        <a mat-button class="nav-link"  [routerLink]="['/admin/complaints']"> Complaints </a>
        <a mat-button class="nav-link"  [routerLink]="['/admin/profile']"> Profile </a>
        <a mat-button class="nav-link"  *ngIf="predef" [routerLink]="['/admin/add-new-admin']"> Add new administrator </a>
          <button
            mat-button
            *ngIf="authService.isLoggedIn"
            class="btn btn-primary btn-md"
            (click)="onLogout()"
          >
            Log out
          </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
