<mat-toolbar color="primary">
    <mat-toolbar-row>

      <img
        src="../../assets/images/logo.png"
        style="height: 32px"
    />
    <h1 >A D V E N T U R E</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button  class="nav-link" routerLinkActive="active" [routerLink]="['/admin']"> Registration requests </a>
        <a mat-button class="nav-link"  [routerLink]="['/requests']"> Profile </a>
        <a mat-button class="nav-link"  [routerLink]="['/requests']"> Add other administrator </a>
        
  
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
