<mat-toolbar color="primary">
    <mat-toolbar-row>

      <img
        src="../../assets/images/logo.png"
        style="height: 32px"
    />
    <h1 >A D V E N T U R E</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button  class="nav-link" routerLinkActive="active" [routerLink]="['/admin']"> Registration requests </a>
        <a mat-button class="nav-link"  [routerLink]="['/admin/profile']"> Profile </a>
        <a mat-button class="nav-link"  [routerLink]="['/admin/addNewAdmin']"> Add new administrator </a>
        
          <button
            mat-button
            *ngIf="authService.isLoggedIn"
            class="btn btn-primary btn-md"
            (click)="onLogout()"
          >
            Log out
          </button>
          
  
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
