<mat-toolbar color="primary">
    <mat-toolbar-row>

      <img
        src="../../assets/images/logo.png"
        style="height: 32px"
    />
    <h1 >A D V E N T U R E</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button class="nav-link"  [routerLink]="['/instructor']"> My adventures </a>
        <a mat-button class="nav-link"  [routerLink]="['/instructor/availability']">Availability</a>
        <a mat-button class="nav-link"  [routerLink]="['/instructor/new-adventure']"> Add new adventure </a>
        <a mat-button class="nav-link"  [routerLink]="['/instructor/profile']">Profile</a>
          <button
            mat-button
            *ngIf="authService.isLoggedIn"
            class="btn btn-primary btn-md"
            (click)="onLogout()"
          >
            Log out
          </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

