<div class="card-holder" style="margin-left: 15px;">
    <br/>
    <div class="search-bar">
        <form class="search-form d-flex align-items-center">
            <mat-icon matPrefix>search</mat-icon>
          <input matInput type="search" placeholder="Search..." (input)="emitMe($event)">
        </form>
    </div>
    <div class="row">
        <mat-card  style="margin: 10px; " *ngFor="let adventure of adventuresDto | adventureSearch : textForSearch">

            <!--<img :src="assets/images/cottage.jpg" class="card-img-top" sty alt="image of cottage">-->


            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <mat-card-title>{{adventure.name}}</mat-card-title>
                </li>
                <li style="height: 70px;" class="list-group-item">
                         <i class="bi bi-geo-alt" style="font-size: 20px;"></i>{{adventure.streetName}} {{adventure.streetNumber}},{{adventure.city}},{{adventure.country}}
                </li>
                <li style="height: 70px;" class="list-group-item">{{adventure.description}}</li>
                <li style="height: 70px;" class="list-group-item"><i class="bi bi-cash-stack" style="font-size: 20px;"></i><span> </span>{{adventure.price}}€ per person</li>
                <li class="list-group-item">
                    <button mat-button color="primary" (click)="view(adventure.id)">View</button>
                    <button mat-button color="primary" (click)="report(adventure.id)">Report</button>
                    <button mat-button color="warn" (click)="check(adventure.id)">Delete</button>

                </li>
            </ul>

        </mat-card>
    </div>
