.container {
  align-items: center;
  width: 1500px;
}

mat-tab-group {
  background-color: white;
}

.adventurePhoto {
  width: 150px;
  height: 100px;

}

.btn {
  transform: scale(1.10);
  width: 120px;

  margin-left: 460px;
  color: white;
  background: rgb(81, 63, 243);
  font-size: 14px;
  margin-top: 30px;
}

.error {
  color: red;
}

.form {
  width: 100%;
}

input {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  width: 100%;
}

.button-holder {
  padding-top: 15px;
  text-align: center;
}

.button-container {
  display: flex;
  margin: 10px;
}

table {
  width: 100%;
}

th {
  width: 200px;
}

tr {
  font-style: italic;
  height: 60px;
}

table {
  align-self: center;
}


button {
  width: 50;
}

mat-card {
  align-self: center;
  align-items: center;
  align-content: center;
  width: 500px;
  text-size-adjust: 50px;
  font-size: 50px;
  font-style: italic;
}