<app-ship-owner-navbar></app-ship-owner-navbar>
<div class="container">

    <br /><br /><br />

    <mat-tab-group>
        <mat-tab style="overflow-y: hidden!important;" label="Basic info">
            <mat-card style="width:500px">
                <mat-card-title></mat-card-title>
                <mat-card-content>
                    <form class="form-container" [formGroup]="detailsForm" style="width:1000px">
                        <div class="row">
                            <div class="col-sm">
                                <mat-form-field appearance="standard">
                                    <mat-label>Name of ship</mat-label>
                                    <input matInput placeholder="Name of ship" formControlName="name"
                                        [readonly]="!editMode" />
                                </mat-form-field>
                            </div>
                            <div class="col-sm">
                                <mat-form-field appearance="standard">
                                    <mat-label>Price in euro</mat-label>
                                    <input matInput placeholder="Price in euro" formControlName="price"
                                        [readonly]="!editMode" />
                                </mat-form-field>
                            </div>
                            <div class="col-sm">
                                <mat-form-field appearance="standard">
                                    <mat-label>Guest limit</mat-label>
                                    <input matInput placeholder="Guest limit" formControlName="capacity"
                                        [readonly]="!editMode" />
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <mat-form-field appearance="standard">
                                    <mat-label>Street name</mat-label>
                                    <input matInput placeholder="Street name" formControlName="street"
                                        [readonly]="!editMode" />
                                </mat-form-field>
                            </div>
                            <div class="col-sm">
                                <mat-form-field appearance="standard">
                                    <mat-label>Street number</mat-label>
                                    <input matInput placeholder="Street number" formControlName="streetNumber"
                                        [readonly]="!editMode" />
                                </mat-form-field>
                            </div>
                            <div class="col-sm">
                                <mat-form-field appearance="standard">
                                    <mat-label>City</mat-label>
                                    <input matInput placeholder="City" formControlName="cityName"
                                        [readonly]="!editMode" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm">
                                <mat-form-field appearance="standard">
                                    <mat-label>Country</mat-label>
                                    <input matInput placeholder="Country" formControlName="countryName"
                                        [readonly]="!editMode" />
                                </mat-form-field>
                            </div>
                            <div class="col-sm">
                                <mat-form-field appearance="standard">
                                    <mat-label>The percentage of the price that is retained</mat-label>
                                    <input matInput placeholder="The percentage of the price that is retained"
                                        formControlName="cancelationConditions" [readonly]="!editMode" />
                                </mat-form-field>
                            </div>
                            <div class="col-sm">
                                <mat-form-field appearance="standard">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput placeholder="Description" formControlName="description"
                                        [readonly]="!editMode"> </textarea>
                                </mat-form-field>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm">
                                <mat-form-field appearance="standard">
                                    <mat-label>Length</mat-label>
                                    <input matInput placeholder="Lenght of boat" formControlName="length"
                                        [readonly]="!editMode" />
                                </mat-form-field>
                            </div>
                            <div class="col-sm">
                                <mat-form-field appearance="standard">
                                    <mat-label>Number of engine:</mat-label>
                                    <input matInput placeholder="Number of engine" formControlName="numberOfEngine"
                                        [readonly]="!editMode" />
                                </mat-form-field>
                            </div>
                            <div class="col-sm">
                                <mat-form-field appearance="standard">
                                    <mat-label>Strength of ship:</mat-label>
                                    <input matInput placeholder="Strength of engine" formControlName="strengthOfEngine"
                                        [readonly]="!editMode" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm">
                                <mat-form-field appearance="standard">
                                    <mat-label>Maxspeed of boat:</mat-label>
                                    <input matInput placeholder="Maxspeed" formControlName="maxSpeed"
                                        [readonly]="!editMode" />
                                </mat-form-field>
                            </div>
                            <div class="col-sm">
                                <mat-form-field appearance="standard">
                                    <mat-label>Type of ship</mat-label>
                                    <input matInput placeholder="Type of ship" formControlName="type"
                                        [readonly]="!editMode" />
                                </mat-form-field>
                            </div>
                            <div class="col-sm">
                                <mat-form-field appearance="standard">
                                    <mat-label>Fishing equipment</mat-label>
                                    <input matInput placeholder="Fishing equipment" formControlName="fishingEquipment"
                                        [readonly]="!editMode" />
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="button-container" *ngIf="!editMode else editIsOn">
                            <button mat-flat-button color="primary" class="button"
                                (click)="editMode = true">Edit</button>
                        </div>
                        <ng-template #editIsOn>
                            <div class="button-container" *ngIf="editMode">
                                <button mat-flat-button color="primary" class="button" (click)="edit()">Save</button>
                                <button mat-flat-button color="warn" class="button" (click)="cancel()">Cancel</button>
                            </div>
                        </ng-template>
                    </form>
                </mat-card-content>
            </mat-card>

        </mat-tab>
        <mat-tab label="Maps">


            <agm-map [latitude]="ship.latitude" [longitude]="ship.longitude">
                <agm-marker [latitude]="ship.latitude" [longitude]="ship.longitude"></agm-marker>
            </agm-map>
        </mat-tab>

        <mat-tab label="Edit images">
            <div>
                <mat-carousel timings="250ms ease-in" color="primary" maxWidth="auto" maxHeight="auto" [loop]="true"
                    [hideArrows]="false" [hideIndicators]="true" [useKeyboard]="true" [useMouseWheel]="false"
                    orientation="ltr">
                    <mat-carousel-slide style="height: 600px !important;" #matCarouselSlide
                        *ngFor="let image of images; let i = index">
                        <img [src]="image.url" style="height: 400px; width: 1150px;" />
                    </mat-carousel-slide>
                </mat-carousel>
            </div>
            <div style="align-items: center;">
                <br />
                <input style="margin-top: 20px; color:primary;" type="file" #file (change)="onFileSelected($event)" />
            </div>
        </mat-tab>

        <mat-tab label="Edit rules">

            <app-edit-ship-rules></app-edit-ship-rules>

        </mat-tab>
        <mat-tab label="Edit utilities">
            <app-edit-ship-utilities></app-edit-ship-utilities>
        </mat-tab>
        <mat-tab label="Edit navigation equipment">
            <app-edit-ship-navigation></app-edit-ship-navigation>
        </mat-tab>


        <mat-tab label="Availability">
            <app-ship-availability></app-ship-availability>

            <br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br />
            <br /><br /><br /><br /><br /><br /><br /><br /><br />

            <br />




        </mat-tab>

        <mat-tab label="Promotions">


            <div class="card-holder" style="margin-left: 100px;margin-top: 30px;">
                <div class="row" *ngIf="appointments.length != 0; else emptyTable">
                    <div class="card" style="margin: 10px; " *ngFor="let app of appointments ">



                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="bi bi-calendar-check-fill"></i>
                                <strong> From {{app.startTime | date:'d/M/yyyy' }} to {{app.endTime |
                                    date:'d/M/yyyy'}}</strong>
                            </li>

                            <li style="height: 70px;" class="list-group-item"><i class="bi bi-cash-stack"
                                    style="font-size: 20px;"></i>{{app.price}} € for {{app.guestLimit}}
                                person </li>
                            <li style="height: 70px;" class="list-group-item"><i class="bi bi-calendar-check-fill"></i>
                                Promotion valid until {{app.validUntil |
                                date:'d/M/yyyy, h:mm a' }}
                            </li>
                            <li style="height: 70px;" class="list-group-item">
                                <div *ngFor="let utility of app.utilities">{{utility.name}} </div><br />
                            </li>
                            <li style="height: 70px;" class="list-group-item"> <button mat-button color="warn"
                                    *ngIf="!app.reserved" (click)="deleteApp(app.id)">Delete</button>
                            </li>


                        </ul>


                    </div>

                </div>
                <ng-template #emptyTable>
                    <div class="row" style="align-items: center; margin-left: 400px;">
                        <br><br><br><br>
                        <div class="d-flex justify-content-center ">
                            <mat-card style="background-color: transparent; align-items: center;">No promotions.
                            </mat-card>
                        </div>
                        <br />
                    </div>
                </ng-template>


            </div>

        </mat-tab>
        <mat-tab label="Add action">

            <app-ship-add-action></app-ship-add-action>

        </mat-tab>




        <mat-tab label="Reservations history">

            <app-ship-reservation-history></app-ship-reservation-history>

        </mat-tab>


    </mat-tab-group>
</div>