<div style="margin-left: 220px; margin-top: 20px;" class="container">
    <h1 class="h1"> {{this.ship.name }}</h1>

    <button class="btn" (click)="editShip()">Edit basic information</button>
    <button class="btn" (click)="deleteShip()">Delete ship</button>
    <button class="btn" (click)="editRules()">Edit rules of ship</button>
    <button class="btn" (click)="editUtilities()">Edit utilities of ship</button>


    <div class="row">
        <div class="card1">
            <div class="col">
                <h4 class="text-white row" style="margin-top: 25px;font-size: 18px; margin-left: 10px; ;">Address of
                    cottage:</h4>
                <h6 class="text-white row"
                    style="margin-top: 40px; margin-left: 10px; font-size: 18px; margin-right: 10px;">
                    {{this.ship.streetName}},{{this.ship.streetNumber}},{{this.ship.city}},{{this.ship.country}}</h6>
                <h4 class="text-white row" style="margin-top: 25px;font-size: 18px; margin-left: 10px; ;">Short
                    description:</h4>
                <h6 class="text-white row"
                    style="margin-top: 40px; font-size: 18px; margin-left: 10px; margin-right: 10px;">
                    {{this.ship.description}}</h6>
            </div>
        </div>

        <div class="card2">
            <div class="col">
                <h4 class="text-white row" style="margin-top: 25px; font-size: 18px; margin-left: 10px;"> Lenght of
                    boat: {{this.ship.length}}</h4>
                <h4 class="text-white row" style="margin-top: 25px; font-size: 18px; margin-left: 10px;"> Number of
                    engine: {{this.ship.numberOfEngine}}</h4>
                <h4 class="text-white row" style="margin-top: 25px; font-size: 18px; margin-left: 10px;"> Strength of
                    engine: {{this.ship.strengthOfEngine}}</h4>
                <h4 class="text-white row" style="margin-top: 25px; font-size: 18px; margin-left: 10px;"> Max speed of
                    boat: {{this.ship.maxSpeed}}</h4>

            </div>
        </div>

        <div class="card1">
            <div class="col">
                <h4 class="text-white row" style="margin-top: 25px; font-size: 18px; margin-left: 10px;">Price of
                    cottage for one day:</h4>
                <h6 class="text-white row"
                    style="margin-top: 20px; font-size: 18px; margin-left: 10px; margin-right: 10px;">
                    {{this.ship.price}} € </h6>
                <h4 class="text-white row" style="margin-top: 25px;font-size: 18px; margin-left: 10px;">If you cancel
                    reservation, you pay {{this.ship.cancelationConditions}}% of price. </h4>


            </div>
        </div>

        <div class="card2">
            <div class="col">
                <h4 class="text-white row" style="margin-top: 25px; font-size: 18px; margin-left: 10px;"> Type of boat:
                    {{this.ship.type}}</h4>
                <h4 class="text-white row" style="margin-top: 25px;font-size: 18px; margin-left: 10px;">Number of people
                    who can be in ship: {{this.ship.capacity}}</h4>
                <h4 class="text-white row" style="margin-top: 25px;font-size: 18px; margin-left: 10px;">Fishing
                    equipment: {{this.ship.fishingEquipment}}</h4>

            </div>
        </div>
        <div class="card1">
            <div class="col">
                <h4 class="text-white row"
                    style="margin-top:  25px;font-style: bold; font-size: 18px; margin-left: 10px;"> Rules of boat:</h4>
                <div *ngFor="let rule of rules">
                    <h6 class="text-white row"
                        style="margin-top: 40px; font-size: 18px; margin-left: 10px; margin-right: 10px;">
                        -{{this.rule.ruleDescription}}</h6>

                </div>
            </div>
        </div>






        <div class="card2">
            <div class="col">
                <h4 class="text-white row"
                    style="margin-top:  25px;font-style: bold; font-size: 18px; margin-left: 10px;"> Utilities of boat:
                </h4>

                <div *ngFor="let utility of utilities">
                    <h6 class="text-white row"
                        style="margin-top: 40px; margin-left: 10px; font-size:18px; margin-right: 10px;"> -
                        {{this.utility.name}}</h6>
                </div>
            </div>
        </div>


        <div class="card1">
            <div class="col">
                <h4 class="text-white row"
                    style="margin-top:  25px;font-style: bold; font-size: 18px; margin-left: 10px;"> Navigation
                    equipment of boat:</h4>
                <div *ngFor="let navigation of navigations">
                    <h6 class="text-white row"
                        style="margin-top: 40px; font-size: 18px; margin-left: 10px; margin-right: 10px;">
                        -{{this.navigation.name}}</h6>

                </div>
            </div>
        </div>



    </div>
</div>