.inner {
    padding: 20px;
    background: #fff;
    margin-left: 20px;
    display: flex;
}


.inner form {
    width: 100%;
}


.button {
    margin-top: 30px;
    width: 145px;
    height: 40px;
    font-size: 15px;
    margin-left: 450px;
    margin-right: 100px;
}