<div class="container" style="margin-top:20px">
    <div class="container">
        <div class="containter">

            <h1>Rooms of cottage</h1>
            <hr />
            <div *ngFor="let room of rooms" class="containter">
                <h3> {{ room.number}} beds <button style="margin-left:900px" class="btn"
                        (click)="deleteRoom(room.id)">Delete </button>
                    <hr />
                </h3>

            </div>

        </div>
    </div>

</div>



<div class="container" style="margin-top:20px">
    <div class="containter">
        <div>
            <h1> Add room of cottage</h1>
            <hr />
            <div>
                <input class="form-control" type="text" placeholder="Enter your rule" [(ngModel)]="room" />
            </div>
        </div>

    </div>
    <div class="container">
        <div>
            <button class="btn" (click)="addRoom()">Add</button>
        </div>
        <br /> <br />
    </div>
</div>