<div
  class="container"
  style="
    border-radius: 5rem;
    background-color: rgb(182, 209, 226);
    margin-top: 4rem;
    margin-bottom: 3rem;
  "
>
  <div 
    class="container"
    style="background-color: whitesmoke; border-radius: 5rem"
  >
    <section class="section-padding pb-0" id="reviews" >
      <div class="container">
        <h2 class="text-center mb-lg-2 mb-2">
            Reviews
          </h2>
          <div *ngIf="reviews.length != 0; else emptyTable">
        <div class="row" *ngFor="let review of reviews">
            <mat-card class="example-card" style="width: 1100px;">
                <div style="margin-left: 400px;">
                <mat-card-content >
                  <p><strong>Comment :</strong> {{review.comment}}</p>
                  <br/>
                  <p><strong>Rating :</strong> {{review.mark}}</p>
            
                </mat-card-content>
                </div>
                <mat-card-actions style="margin-left: 400px;">
                  <button mat-button color="primary" (click)="detailsAbouReservation(review.reservationId)">Details</button>
                  <button mat-button color="primary" (click)="approve(review.id)">Approve</button>
                  <button mat-button color="warn" (click)="reject(review.id)">Reject</button>
                </mat-card-actions>
              </mat-card>
              <br />
            </div>
            <br/>
          </div>
          <br/>
          <ng-template #emptyTable>
            <p style="text-align: center;">No reviews!</p>
          </ng-template>
          <br /><br />
      </div>
    </section>
  </div>
</div>
