<div class="container" style="margin-top:20px">
  <div class="container">
    <div class="containter">

      <h1>Utilities of cottage</h1>
      <hr />
      <div *ngFor="let utility of utilities" class="containter">
        <h3> {{ utility.name}} {{utility.price}} € <button style="margin-left:900px" class="btn"
            (click)="deleteUtility(utility.id)">Delete</button>
          <hr />
        </h3>

      </div>

    </div>
  </div>

</div>



<div class="container" style="margin-top:20px">
  <div class="containter">
    <div>
      <h1> Add utility of cottage</h1>
      <hr />
      <div>
        <input class="form-control" type="text" placeholder="Enter your utility" [(ngModel)]="utilityy.name" />
      </div>
      <div>
        <input class="form-control" type="number" placeholder="Enter price of utility" [(ngModel)]="utilityy.price" />
      </div>
    </div>

  </div>
  <div class="container">
    <div>
      <button class="btn" (click)="addUtility()">Add</button>
    </div>
  </div>
</div>