mat-form-field {
  width: 100%;
  color: blue
}

.separateMe {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.icon-display {
  transform: scale(1.40);
  width: 120px;
  margin-left: 44%;
  margin-right: 25%;


}