mat-form-field {
  width: 100%;
  color: blue
}

.separateMe {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
}

.icon-display {
  transform: scale(1.40);
  width: 100px;
  margin-left: 45%;
  margin-right: 25%;


}