<div class="container">
    <mat-card>
        <mat-card-title>Guest data</mat-card-title>
        <br />
        <mat-card-content>
            <form class="form-container" [formGroup]="detailsForm">
                <div class="row">
                    <div class="col-sm">
                        <mat-form-field appearance="standard">
                            <mat-label>First Name</mat-label>
                            <input matInput placeholder="First Name" formControlName="firstName"
                                [readonly]="!editMode" />
                        </mat-form-field>
                    </div>
                    <div class="col-sm">
                        <mat-form-field appearance="standard">
                            <mat-label>Last Name</mat-label>
                            <input matInput placeholder="Last Name" formControlName="lastName" [readonly]="!editMode" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <mat-form-field appearance="standard">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email" readonly />
                        </mat-form-field>
                    </div>
                    <div class="col-sm">
                        <mat-form-field appearance="standard">
                            <mat-label>Phone Number</mat-label>
                            <input matInput placeholder="Phone Number" formControlName="phoneNumber"
                                [readonly]="!editMode" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <mat-form-field appearance="standard">
                            <mat-label>Street name</mat-label>
                            <input matInput placeholder="Street name" formControlName="streetName"
                                [readonly]="!editMode" />
                        </mat-form-field>
                    </div>
                    <div class="col-sm">
                        <mat-form-field appearance="standard">
                            <mat-label>Street number</mat-label>
                            <input matInput placeholder="Street number" formControlName="streetNumber"
                                [readonly]="!editMode" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <mat-form-field appearance="standard">
                            <mat-label>City</mat-label>
                            <input matInput placeholder="City" formControlName="city" [readonly]="!editMode" />
                        </mat-form-field>
                    </div>
                    <div class="col-sm">
                        <mat-form-field appearance="standard">
                            <mat-label>Country</mat-label>
                            <input matInput placeholder="Country" formControlName="country" [readonly]="!editMode" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="button-container">
                    <button mat-flat-button color="primary" class="button" (click)="onNoClick()">Close</button>

                </div>
                <ng-template #editIsOn>

                </ng-template>
            </form>
        </mat-card-content>
    </mat-card>
</div>