<div mat-dialog-content>
  <h2 mat-dialog-title>Delete account</h2>
    <form class="form" [formGroup]="form">
        <mat-form-field appearance="standard">
          <mat-label>Reason for deleting account</mat-label>
          <textarea matInput formControlName="reason"></textarea>
        </mat-form-field>
      </form>
</div>
<div mat-dialog-actions>
      <button mat-button (click)="close()">Give up</button>
      <button mat-button (click)="submit()" cdkFocusInitial>Continue</button>
</div>
    
