<div class="container">
    <h2 mat-dialog-title style="text-align: center;">Edit utility</h2>

    <form class="form" [formGroup]="form">
        <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Name" formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Price in euro</mat-label>
            <input matInput type="text" placeholder="Price" formControlName="price" />
        </mat-form-field>
    </form>
    <div class="button-container">
        <button mat-flat-button color="primary" (click)="submit()">Submit</button>
        <button mat-flat-button color="warn" (click)="close()">Close</button>
    </div>
</div>