<div class="container" style="margin-top:20px">
  <div class="container">
    <div class="containter">

      <h1>Rules of cottage</h1>
      <hr />
      <div *ngFor="let rule of rules" class="containter">
        <h3> {{ rule.ruleDescription}} <button style="margin-left:900px;width: 100px;" mat-flat-button color="warn"
            (click)="deleteRule(rule.id)">Delete</button>
          <hr />
        </h3>

      </div>

    </div>
  </div>

</div>



<div class="container" style="text-align: center;margin-top: 20px;">
  <div class="containter">
    <div>
      <h1> Add rule of cottage</h1>

      <div>
        <input class="form-control" style="width: 400px;margin-left: 330px;" type="text" placeholder="Enter your rule"
          [(ngModel)]="rulee.ruleDescription" />
      </div>
    </div>

  </div>
  <div class="container">
    <div>
      <button mat-flat-button color="primary" style="width:150px;margin-top:20px" (click)="addRule()">Add</button>
    </div>
    <br /> <br />
  </div>
</div>