<div class="container" style="background-color: white !important;" >
    <h1 style="text-align: center;">Adventure report</h1>
    <div class="row" >
        <div id="divThirdChart" class="col-sm">
            <h6 style="align-self: center; font-style: italic;">Number of reservations per month in last four years</h6>
            <canvas id="yearChart"></canvas>
        </div>
        <div id="divFirstChart" class="col-sm">
            <h6 style="align-self: center; font-style: italic;">Number of reservations per days in last week</h6>
            <canvas id="myChart"></canvas>
        </div>
        <div id="divSecondChart" class="col-sm" >
            <h6 style="align-self: center; font-style: italic;">Number of reservations per month in last year</h6>
            <canvas id="monthChart"></canvas>
        </div>
        
    </div>
</div>
<hr/>
 

